@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AnekDevanagari';
    src: url('/fonts/AnekDevanagari.ttf') format('truetype');

}

html {
    font-family: 'AnekDevanagari', sans-serif;
}

.banner-container {
    position: relative;
    width: 150px;
    height: 80px;
    margin-left: 30%;
    background-color: #FBD716;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 24px;
    text-align: center;
}

.banner-container::before, .banner-container::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #FBD716;
    border-radius: 50%;
    top: 10px;
}

.banner-container::before {
    left: -30px;
}

.banner-container::after {
    right: -30px;
}

.banner-text {
    z-index: 1;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color:#1A1A1A;
}